.intro {
  margin: 140px auto;
  display: flex;
  justify-content: center;
  padding: 0px 48px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.intro__imagecontainer {
  border: 1px solid #1e5f74;
  max-width: 400px;
  max-height: 500px;
  -webkit-box-shadow: -34px 49px 0px 17px rgba(43, 42, 43, 1);
  -moz-box-shadow: -34px 49px 0px 17px rgba(43, 42, 43, 1);
  box-shadow: -34px 49px 0px 17px rgba(43, 42, 43, 1);
}

.intro__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}




.intro__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px 0px 50px;
  text-align: left;
}

.intro__text {
  text-align: left;
  max-width: 1000px;
  font-weight: 400;
  font-size: 23px;
  line-height: 163%;
  color: #f6f6f6;


}

.intro__title {
  font-weight: 900;
  font-size: 45px;
  line-height: 58px;
  color: #e2e2e2;

}

@media screen and (max-width: 1023px) {
  .intro {
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
  }
  .intro__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px 0px 0px 0px;
    text-align: left;
  }

  .intro__text {
    max-width: 100%;
    font-size: 17px;
    color: #fff;

  }
}

@media screen and (max-width: 767px) {
  .intro {
    margin-top: 64px;
    padding: 0px 16px 0px;
  }

}