.contacts {
    max-width: 1280px;
    width: 100%;
    padding-top: 176px;
    margin: 0 auto;
    color: #fff;
}
.contacts__inner {
    display: flex;
    justify-content: center;
}
.contacts__info {
    text-align: center;
}

.contacts__title {}

.contacts__subtitle {
    color: #fff;
    font-size: 25px;

}

.contacts__imagecontainer {
    max-width: 400px;
    max-height: 500px;
    box-shadow: -34px 49px 0px 17px rgba(43, 42, 43, 1);
}
.contacts__items {
    margin-left: 100px;
}
.contacts__item {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
}



.contacts__body {}



.contacts__span {}

.contacts__about{
    font-size: 40px;

}
.contacts__link {
    color: #8570a1;
    font-size: 20px;
    text-decoration: none;
}

